.header {
    padding: 20px;
   /* font-family: */
    background-color: #2a607c;
    color: #ffffff;
}


.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

#navbar {

}

#topbar {

    width:110%;
    height:100px;
    background:#00f;
    position:fixed;
    top:0;
    left: -20px;

}



#sidebar {

    height: 100%;
    width: 300px; 
    border: 1px solid black;
    background-color: #6b1248;
    position: fixed;
    bottom: 0%;
    left: -20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    bottom: 0%;
    right: 0%;
    height:80%;
    width:80%;
    border: 1px solid blue;
  }
  
  .item {
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid red;
  }



#workspace {
    position:absolute;
    bottom: 0%;
    right: 0%;
    height:80%;
    width:80%;
    flex-direction: column;
    border: 1px solid red;
}

#workspace2 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    height:80%;
    width:80%;
    flex-direction: column;

    border: 2px solid yellow;
}


#links {
    position:fixed;
    bottom:0;
    width: 280px;
}

#links ul li{
    text-align: center;
    list-style-type: none;
    font-style: bold;
}

#footer {
    position:fixed;
    bottom: 0;
    width: 100%;

}

footer {
    text-align: center;
    font-style: italic; 
}
