h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px; 
}


h1 a {
  text-decoration: none;
  color:#17c57a;
}


h1 a:hover {
  color: white;
  transition: all .5s ease;
}


body {
    background-color: #17c57a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
  }


#navbar ul {
    list-style-type: none;
    text-align: center;
    right: 0;
    margin-top: 25px;
}


#navbar ul li {
    display: inline-block;
    width: 200px;
    height: 100px;   
}


#topbar {
    width:110%;
    height:100px;
    background:rgb(0, 0, 0);
    position:fixed;
    top:0;
    left: -20px;
    z-index:5;
    color: #17c57a;
}


#sidebar {
    height: 100%;
    width: 300px; 
    border: 1px solid rgb(0, 0, 0);
    background-color: #000000;
    position: fixed;
    bottom: 0%;
    left: -20px;
    z-index: 7;
    color: #17c57a;
}


/* Extra classes to ensure the sidebar works correctly with all its parts */
.sidebarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebarItem {
    width: 200px; 
  }

  .sidebarDesc {
    bottom: 0;
 }


#crt {
    width: 300px;
    height: 300px;
    position: fixed;
    z-index: 9;
    left: -15px;
}


#crt img {
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;
        margin: 0;
        padding: 20px;
        z-index: 9;
}


#myName {
margin-top: 310px;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 24px;
}


#aboutMe {
font-family: 'Courier New', Courier, monospace;
margin-bottom: 0;
margin-right: 0;
}


/* An extra div to contain all the body parts, make it work a bit better */
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    bottom: 0%;
    right: 0%;
    height:80%;
    width:80%;
    z-index: 1;
  }
  

  .item {
    width: 80%;
    margin-bottom: 10px;
  }


  .projectContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
  }


  /* Pictures + Flexbox structure for them */
    #p1
    { 
        width: 49%;
        height: 300px;
        margin-bottom: 2%;
      
    }
  

   #p1:first-child {
        width: 100%;
        height: 350px;
      }


    #p1 img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        filter: grayscale(100%);
      }


      #p1 img:hover {
        transition: all .6s ease;
        filter: grayscale(0%);
      }


  #resume {
    height: 200px;
    width: 80%;
  }


.download {
        background-color: #5e5e5e;
        color: white;
        border: none;
        padding: 15px 30px;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        font-size: 16px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        padding-bottom:-5px;
    }
  

  .download:hover {
    background-color: rgb(168, 168, 168);
  }


  /* An extra class to make a tab in regular HTML. Didn't know this pretty normal! */
.tab { margin-left: 40px; }


  #contact {
    height: 200px;
  }


  #contact a {
    color:#000000;
  }

/* A faux footer... since it had to be in the main container */
  #foot {
    text-align: center;
    font-style: italic; 
  }


  @media screen and (max-width: 1050px) {
    #sidebar {
      display: none;
    }
  }
